@import "tailwindcss";
/* hide scrollbar but allow scrolling */
.custom-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;             /* Chrome, Safari, Opera */
}

